body{
    background-color: rgb(249, 249, 249);
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper{
    max-width: 1920px;
}
p{
    margin: 0px;
}
li{
    list-style-type: none;
}
header{
    position: sticky;
    padding-left: 40px;
    padding-right: 40px;
}
a{
    color: black;
    text-decoration: none;   
}
.header_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
}
.header_connection{
    display: flex;
}
.phone{
    font-size: 24px;
    color: rgb(0, 0, 0,0.5);
}
.header_hr{
    color: black;  
}
.header_item{
    font-size: 20px;
}
.main_text{
    h1{
        font-size: 50px;
        margin-bottom: 10px;
        margin-top: 100px;
    }
    p{
        opacity: 0.8;
        margin-bottom: 60px;
    }
    button{
        padding: 15px 15px;
        font-size: 13px;
        background-color: rgb(255, 196, 0);
        border: none;
        border-radius: 10px;
        margin-bottom: 100px;
    }
}
.stats_item{
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    font-size: 28px;
    .comm{
        text-align: start;
    }
}
    
.text_stats{
    display: flex;
    gap: 30px;
}
.section_1_cont{
    text-align: center;
    margin: 0 auto;
}
.stats_item_long{
    display: flex;
    width: 270px;
    flex-wrap: wrap;
    font-size: 23px;
}
.stats_num{
    font-size: 54px;
}
.stats_pl{
    color: rgb(255, 194, 28);
    font-size: 54px;
    margin-left: 10px;
}
.stats_text{
    font-size: 23px;
}
.section_1{
    display: flex;
}
.promo_link{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.header_button{
    padding: 10px 42px;
    background-color: rgb(255, 196, 0);
    border: none;
    border-radius: 15px;
    position: relative;
}
.header_button:hover{
    padding: 13px 45px;
}

.promo_button:hover{
    padding: 18px 50px;
}
.gg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap ;
    width: 1200px;
    .gg_item{
        margin-bottom: 20px;
        display: flex;
        gap: 15px;
        div{
            text-align: start;
            width: 500px;
            h5{
                margin-bottom: 10px;
                font-size: 24px;
                margin-top: 5px;
            }
            p{
                opacity: 0.7;
            }
        }
        img{
            background-color: white;
            border: none;
            padding: 8px;
            border-radius: 30px;
        }
    }
}